<ul class="list--inline pagination">
    {% unless paginate.previous.is_link %}
      <li aria-hidden="true">
        <button class="btn btn--tertiary btn--narrow" disabled>
          <span class="icon__fallback-text">&laquo;</span>
        </button>
      </li>
      {% else %}
      <li>
        <a href="{{ paginate.previous.url }}" class="btn btn--tertiary btn--narrow">
          <span class="icon__fallback-text">&laquo;</span>
        </a>
      </li>
    {% endunless %}
    {%- for part in paginate.parts -%}
      {%- if part.is_link -%}
        <li>
          <a href="{{ part.url }}">
            {{ part.title }}
          </a>
        </li>
      {%- else -%}
        {%- if part.title == paginate.current_page -%}
          <li class="active" aria-current="page">
            {{ part.title }}
          </li>
        {%- else -%}
          <li>
            { part.title }}
          </li>
        {%- endif -%}
      {%- endif -%}
    {%- endfor -%}
    {% unless paginate.next.is_link %}
      <li aria-hidden="true">
        <button class="btn btn--tertiary btn--narrow" disabled>
          <span class="icon__fallback-text">&raquo;</span>
        </button>
      </li>
    {% else %}
      <li>
        <a href="{{ paginate.next.url }}" class="btn btn--tertiary btn--narrow">
          <span class="icon__fallback-text">&raquo;</span>
        </a>
      </li>
    {% endunless %}
  </ul>
